:host {
  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 46px);

    &-message {
      font-size: 1.5rem;
    }

    img {
      width: 60vw;
    }
  }
}
