:host {
  .error {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 46px);
    justify-content: center;

    &-message {
      font-size: 1.5rem;
    }

    img {
      width: 60vw;
    }
  }
}
