:host {

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
    margin: 0px;
    font-size: 0.9rem;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0px;
    font-size: 0.9rem;
  }

  div {
    min-width: 100px;
    min-height: 70px;
    border: solid, ;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
  }

  @media (min-width: 770px) {
    dl {
      div {
        border: solid, ;
        border-width: 1px;
        border-radius: 5px;
        text-align: center;
      }

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 15px;
      margin: 0px;
      font-size: 0.9rem;
      margin-left: 20px;
    }
  }

}