:host {
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9rem;
    gap: 25px;
  }
  .flex-box-li {
    flex-wrap: wrap;
    width: 100px;
    height: 150px;
    padding: 5px;
    border: solid,;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
  }

}