:host {
  h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .example_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    max-width: 300px;
    margin: auto;
    input {
      margin-bottom: 10px;
      padding: 10px;
      border: solid 1px var(--app-color-primary);
      border-radius: 5px;
      color: var(--app-color-black);
    }
    textarea {
      margin-bottom: 10px;
      padding: 10px;
      border: solid 1px var(--app-color-primary);
      border-radius: 5px;
      color: var(--app-color-black);
    }
  }
  .submit_btn {
    align-self: center;
    width: 50%;
    color: var(--app-color-black);
    cursor: pointer;
    background-color: var(--app-color-white);
    &:hover {
      background-color: var(--app-color-black);
      color: var(--app-color-white);
    }
  }
  
}
