:host {
  h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
  .example_form {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-line-pack: center;
    -ms-flex-pack: start;
    -ms-flex-wrap: nowrap;
    -webkit-align-content: center;
    -webkit-align-items: stretch;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: auto;
    max-width: 300px;
  }
  .example_form input,
  .example_form textarea {
    border-radius: 5px;
    border: solid 1px var(--app-color-primary);
    color: var(--app-color-black);
    margin-bottom: 10px;
    padding: 10px;
  }
  .submit_btn {
    align-self: center;
    background-color: var(--app-color-primary);
    color: var(--app-color-primary-contrast);
    width: 50%;
  }
  .submit_btn:hover {
    background-color: var(--app-color-primary);
    color: var(--app-color-primary-contrast);
  }
  @media (min-width: 770px) {
  }
}
