:host {
  #menu-toggle {
    display: none;
    opacity: 0;

    &:checked {
      ~ {
        .menu-btn {
          >span {
            transform: rotate(45deg);

            &::before {
              top: 0;
              transform: rotate(0);
            }

            &::after {
              top: 0;
              transform: rotate(90deg);
            }
          }
        }

        .menu-box {
          left: 0;
          position: relative;
          visibility: visible;
        }
      }
    }
  }

  .menu-btn {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 20px;
    left: 20px;
    flex-direction: row;
    align-items: center;
    width: 26px;
    height: 26px;


    >span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      margin-bottom: 10px;
      background-color: #616161;
      transition-duration: 0.25s;

      &::before {
        display: block;
        position: absolute;
        top: -8px;
        width: 100%;
        height: 2px;
        content: "";
        background-color: #686868;
        transition-duration: 0.25s;
      }

      &::after {
        display: block;
        position: absolute;
        top: 8px;
        width: 100%;
        height: 2px;
        content: "";
        background-color: #686868;
        transition-duration: 0.25s;
      }
    }
  }

  .menu-box {
    display: block;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    text-align: center;
    background-color: var(--app-color-black);
    box-shadow: var(--app-color-black);
    transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 5px;
    color: var(--app-color-white);
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.25s;

    &:hover {
      background-color: #a0a5a7;

    }
  }

  @media (min-width: 770px) {
    .hamburger-menu {
      position: static;
      height: 84px;
    }

    .menu-btn {
      visibility: hidden;
    }

    .menu-box {
      display: flex;
      visibility: visible;
      top: 0;
      left: 0;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 70px;
      margin-top: 0px;
      padding: 8px 0;
      text-align: center;
      background-color: var(--app-color-black);
      box-shadow: var(--app-color-black);
    }

    .menu-item {
      padding: 5px;
      border-radius: 10px;
      color: var(--app-color-white);
      font-weight: 600;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;

    }
  }
}